@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.logoDog {
  width: 10rem;
  fill: rgb(255, 255, 255);
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;

  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}

.toggle.active {
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}

.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}

.showcase.active {
  right: 300px;
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #81929b;
  mix-blend-mode: overlay;
}


.social {
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social li {
  list-style: none;
}

.social li a {
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}

.social li a:hover {
  transform: scale(0.5) translateY(-15px);
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;

}

.menu ul {
  position: relative;
}

.menu ul li {
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  font-size: 24px;
  color: #111;
}

.menu ul li a:hover {
  color: #03a9f4;
}

@media (max-width: 991px) {

  .showcase,
  .showcase header {
    padding: 40px;
  }

  .text h2 {
    font-size: 3em;
  }

  .text h3 {
    font-size: 2em;
  }
}

#logo {
  position: absolute;
  top: 10rem;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fill 0.5s ease forwards 4.5s;
}

#logo path:nth-child(1) {
  stroke-dasharray: 595;
  stroke-dashoffset: 595;
  animation: line-anim 2s ease forwards 1s;
}


#logo path:nth-child(2) {
  stroke-dasharray: 589;
  stroke-dashoffset: 589;
  animation: line-anim 2s ease forwards 1.3s;
}

#logo path:nth-child(3) {
  stroke-dasharray: 662;
  stroke-dashoffset: 662;
  animation: line-anim 2s ease forwards 1.6s;
}

#logo path:nth-child(4) {
  stroke-dasharray: 629;
  stroke-dashoffset: 629;
  animation: line-anim 2s ease forwards 1.9s;
}

#logo path:nth-child(5) {
  stroke-dasharray: 510;
  stroke-dashoffset: 510;
  animation: line-anim 2s ease forwards 2.2s;
}

#logo path:nth-child(6) {
  stroke-dasharray: 350;
  stroke-dashoffset: 350;
  animation: line-anim 2s ease forwards 2.5s;
}

#logo path:nth-child(7) {
  stroke-dasharray: 483;
  stroke-dashoffset: 483;
  animation: line-anim 2s ease forwards 2.8s;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }

  to {
    fill: rgb(255, 255, 255);
  }
}

.card_one {
  position: relative;
  top: 5rem;
  left: 5rem;
  width: 30rem;
  height: 25rem;
  background: transparent;
  border-radius: 2.5rem;
  display: flex;
  align-items: center;
  transition: 0.5s;
}

.card_one .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  overflow: hidden;
}

.card_one .circle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(180, 160, 140);
  clip-path: circle(10rem at center);
  transition: 0.5s;
}

.card_one:hover .circle::before {
  background: rgb(45, 35, 15);
  clip-path: circle(20rem at center);
}

.card_one img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 8rem;
  pointer-events: none;
  transition: 0.5s;
}

.card_one:hover img {
  left: 0%;
  height: 18rem;
}

.card_one .content {
  position: relative;

  width: 90%;
  padding: 1rem 4rem 1rem 4rem;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.card_one:hover .content {
  top: 0;
  left: 6rem;
  opacity: 1;
  visibility: visible;
}

.card_one .content h2 {
  position: relative;
  left: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 2em;
  line-height: 1em;
  margin-bottom: 0.4rem;
}

.card_one .content p {
  padding-top: 1rem;
  color: #fff;
  text-align: center;
}

.card_one .content a {
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 0.8rem;
  background: #ffffff;
  color: #111;
  margin-top: 0.8rem;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
}

.card_two {
  position: relative;
  top: 5rem;
  right: 5rem;
  width: 30rem;
  height: 25rem;
  background: transparent;
  border-radius: 2.5rem;
  display: flex;
  align-items: center;
  transition: 0.5s;
}

.card_two .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  overflow: hidden;
}

.card_two .circle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(180, 160, 140);
  clip-path: circle(10rem at center);
  transition: 0.5s;
}

.card_two:hover .circle::before {
  background: rgb(45, 35, 15);
  clip-path: circle(20rem at center);
}

.card_two img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 8rem;
  pointer-events: none;
  transition: 0.5s;
}

.card_two:hover img {
  top: 80%;
  height: 18rem;
}

.card_two .content {
  position: relative;
  left: 20%;
  width: 100%;
  padding: 1rem 1rem 1rem 1rem;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.card_two:hover .content {
  top: -3rem;
  left: 0;
  opacity: 1;
  visibility: visible;
}

.card_two .content h2 {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 2em;
  line-height: 1em;
  margin-bottom: 0.4rem;
}

.card_two .content p {
  padding-top: 1rem;
  color: #fff;
  text-align: center;
}

.card_two .content a {
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 0.8rem;
  background: #ffffff;
  color: #111;
  margin-top: 0.8rem;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
}

#warenkorb {
  position: absolute;
  right: 0rem;
  top: 3rem;
  width: 15rem;
  margin: 1em;
  border-style: dashed;
  border-color: #a27624;
  padding: 1em;
  border-radius: 10px;
}